.calc{
    width:400px;
    height:600px;
    background: gray;
    margin-left:700px
}

#screen{
    width: 80%;
    height: 71px;
    margin-left: 30px;
    margin-top: 20px;
    pointer-events: none;
}
.btn{
    width: 91px;
    height: 57px;
    margin-left: 5px;
    margin-top: 43px;
    font-size: 27px;
    background-color: black;
    color: white;
    border: 10px

}
